* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #071a20;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

#navbar {
  overflow: hidden;
  background-color: #071a20;
}

#navbar a {
  float: left;
  display: block;
  color: #B66B5B;
  text-align: center;
  padding: 17px 25px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color: #071a20;
  color: white;
}


img {
    display: block;
}



.content {            
  padding: 0px;
  border-style: solid;
  border-radius: 2px;
  border-color: #071a20;
  background-color: #071a20;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



.topnav-right {
  float: right;
}


#logo-container img {
   width: 100%;
   height: auto;
}


#progra {
  width: 50%;
  height: auto;
}

.cntrdtxt {
  position:  absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: white;
  border: 3px solid white;
  padding: 20px;
}

footer {
   position: sticky;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: #071a20;
   color: white;
}

.footer-list {
float: right;
color: white;
}

.col-md-12 {
font-size: 1vw;
padding-top: 2px;
}


p {
  font-size: 20px;
  text-align: center;
  color: white;
}

#ftr {
  text-align: left;
  padding: 17px 25px;
  
}

#aboutme {
  color: White;
  font-size: 30px;
  text-align: center;
}

/*QNA*/

#qna {
  color: white;
  font-size: 30px;
  text-align: center;
  }


.qaa {
  padding: 10px;
  border-style: solid;
  border-radius: 1px;
  border-color: #071a20;
  background-color: #071a20;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #071a20;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #071a20;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #071a20;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
.responsive {
  max-width: 100%;
  height: auto;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


i {
  color: #B66B5B;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


#story {
  max-width: 100%;
  height: auto;
  }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}